<html>
    <head>
        <meta charset="UTF-8">

        <link rel="icon" type = "image/x-icon" href="./../static/wtfk.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>Medical Visits for {{name}}</title>
    </head>
    <body>
        <div class="box nav">
            <h1>Medical Visits for: {{name}}</h1>
        </div>
        

        <div class="box title">
            <h3>Visits</h3>
        </div>
        <div class="box">
            {% if visits %}
                {% for visit in visits %}
                    <button class = "visit_data" onclick = "handleVisit('{{visit}}')">Visit on {{visit}}</button>
                {% endfor %}
            {% else %}
                <p>No visits recorded.</p>
            {% endif %}
        </div>
        


        <script>
            function handleVisit(visit){
                alert("Selected visit date: " + visit);
                // Add returned value from Shilpi's model
            }
        </script>
    </body>
</html>