<html>
    <head>
        <meta charset="UTF-8">

        <link rel="icon" type = "image/x-icon" href="./../static/wtfk.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <title>Medical Visits for {{name}}</title>
    </head>
    <body>
        <div class="box nav">
            <h1>Medical Visits for: {{name}}</h1>
        </div>
        

        <div class="visit">
            <div class="box title">
                <h3>Visits</p>
            </div>
            <div class="box visits">
                {% if visits %}
                    {% for visit in visits %}
                        <form action = "{{ url_for('day', date = visit, identification_number = identification_number)}}" method="get">
                            <button type = "submit" class = "visit_data">Visit on {{visit}}</button>
                        </form>
                    {% endfor %}
                {% else %}
                    <p>No visits recorded.</p>
                {% endif %}
            </div>
        </div>

        <script>
            function handleVisit(visit) {
            {{ url_for ('home')}}
                // Add returned value from Shilpi's model
            }
        </script>

    <div class="contact">
        <p>For more information about your medical records, please reach out at (407) 538-0967 or email us at pizzalover2317@gmail.com</p>
    </div>
    </body>

    
</html>