@font-face {
    font-family: 'Adventure';
    src: URL('fonts\Adventuring-rJlL.ttf') format('truetype');
}

body {
    background-color: #96B6AC;
    font-family: "Adventure";
}

.box {
    display: flex;
    border: 3px solid #558877;
    background-color: #68a08d;
    margin: 0;
    align-items: center;
    width: 100%;
    text-align: center;
    /* padding: 2rem; */
}

.title {
    border-bottom: none;
    margin: 0;
    background-color: #e6a050;
}

.secret {
    width: 100%;
    align-content: center; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav {
    margin-bottom: 2rem;
    width: 100%;
    vertical-align: middle;
}

.nav h1 {
    margin-right: 6rem;
}

.login {
    width: 50%;
    margin: auto;
    padding-inline: 2rem;
}


h1, h2, h3 {
    width: 100%;
    text-align: center;
}

p, label {
    margin-left: 2rem;
}

img {
    width: 10%;
}

.visit_data {
    margin: 2rem;
    margin: auto;
}

.visits {
    column-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.visit {
    width: 70%;
    margin: auto;
    padding: 2rem;
    height: 80%;
}

.contact {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-left: -1rem;
    width: 105%;
    background-color: #277FB2;
    text-align: center;
}

.return form {
    width: 100%;
    /* background-color: black; */
    padding-inline: 55rem;
    padding-top: 3rem;
}